html,body {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e1e4eb;
    font-size: 16px;
}
section, footer, header, aside {
    display: block;
}
@font-face {
    font-family: 'Gladifilthefte';
    src: url('gladifilthefte-webfont.eot?') format('eot'),
         url('gladifilthefte-webfont.woff') format('woff'),
         url('gladifilthefte-webfont.ttf') format('truetype'),
         url('gladifilthefte-webfont.svg#webfontQNTOHhYI') format('svg');
    font-weight: normal;
    font-style: normal;
}
aside {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 80px;
    height: 95%;
    z-index: 500;
}
aside #html5 {
    margin-left: 40px;
}
aside #share {
    position: absolute;
    z-index: 600;
    bottom: 0;
    width: 55px;
    right: 0;
}
aside #share iframe {
    margin-left: auto;
    padding-bottom: 10px;
}
aside #share .db-wrapper {
    float: right;
    clear: both;
    margin-bottom:10px;
}
/* force height */
body aside #share iframe {
    height: 70px;
}
aside img {
    border: none;
}
header {
    margin: auto;
    font-family: Gladifilthefte, Arial, sans;
    font-size: 5em;
    width: 420px;
    text-align: right;
    height: 110px;
}
header img {
    float: left;
    margin: 15px 15px 0 0;
}
header h1 {
    text-align: left;
    font-size: .9em;
    padding-top: auto;
    margin: 0;
    font-weight: normal;
}
/*
#wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
#shadow {
    width: 700px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -350px;
    height: 100%;
    -webkit-box-shadow: 0 0 30px  #000000;
    -moz-box-shadow: 0 0 30px #000000;
    box-shadow: 0 0 30px #000000;
    z-index: 0;
}
*/
section {
    display: block;
    margin: 0;
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
    min-height: 100%;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    background: #EBEDF0;
    background: -moz-linear-gradient(top, #EBEDF0 0%, #9BA5B2 25%, #9BA5B2 75%, #6D7B8E 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EBEDF0), color-stop(25%,#9BA5B2), color-stop(75%,#9BA5B2), color-stop(100%,#6D7B8E));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EBEDF0', endColorstr='#6D7B8E',GradientType=0 );
    z-index: 100;
    -webkit-box-shadow: 0 0 30px  #000000;
    -moz-box-shadow: 0 0 30px #000000;
    box-shadow: 0 0 30px #000000;
}
section p {
    margin: 0 auto;
    width: 600px;
    padding: 0;
    text-align: justify;
    text-indent: 2em;
}
section p.report {
    text-align:right;
    text-indent:0;
    padding-top:0.5em
}
footer {
    width: 100%;
    text-align:center;
    font-size: 0.8em;
    margin: 2em 0 0.5em 0;
}
footer a, section a {
    text-decoration: none;
    color: #1e4361;
}
footer a:hover, section a:hover {
    text-decoration: underline;
}
/* SIG */
.arrow {
    border-color: #000000 transparent transparent;
    border-style: solid;
    border-width: 10px 10px 0;
    height: 0;
    margin: 0 5px 0 -10px;
    width: 0px;
    position: absolute;
    left: 50%;
    bottom: -10px
}
.sig img { position: absolute; left: 0; top: 0; padding: 5px; }
.sig {
    position: relative;
    width: 74px;
    height: 74px;
    background-color: #000;
    z-index: 400;
}
/* TERMINAL */
.terminal {
    --color: #000;
    --background: #f3f4f6;
}
#terminal {
    margin: 20px auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    font-weight: normal !important;
    color: var(--color);
    background: transparent;
}
/* Mobile version */
.terminal {
    width: 600px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
}
@media (max-width: 1000px) {
    section {
        border: none;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        position: static;
        left: 0;
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #terminal {
        margin: 30px 0 20px 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        border: none;
    }
    .terminal {
        width: 100%;
    }
    header {
        width: auto;
        margin-left: 120px;
    }
    aside {
        max-height: 350px;
    }
}
@media (max-width: 600px) {
    section p {
        width: 100%;
        margin: 0;
        padding: 0 10px;
        box-sizing: border-box;
    }
    aside {
        display: none;
    }
}
